<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); -%>
    <h1><%= title %></h1>
    <p>Hi my name is <%= title %>. I am currently studying computer programming at Georgian College.</p>
  </body>
</html>
