<ul>
  <li><a class="active" href="/">Family</a></li>
  <li><a href="/bibek">Bibek</a></li>
  <li><a href="/benisha">Benisha</a></li>
  <li><a href="/kp">Khadga</a></li>
  <li><a href="/kamala">Kamala</a></li>
</ul>


